@font-face {
    font-family: robotor;
    src: url("robotor.ttf");
}

@font-face {
    font-family: robotob;
    src: url("robotob.ttf");
}

body {
    height: 100vh;
    width: unset;
}

.kezdolap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("hatter.png");
    background-size: cover;
}

#logo {
    width: 0px;
}

.gomb {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#egomb {
    width: 150px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background: #ef3e57;
    color: white;
}